// AUDIENCE NAV
.level-two-nav.level-two-nav-lsa {
    background: @blue;
    height: 100%;    
    a {
        color: @dmc-cyan;
        text-decoration: none;
        &:hover {
            color: #FFF;
        }
    }
    .featuredImage, .primaryImage {
        padding: 0;
    }    
    img {
        width: 100%;
    }
    @media screen and (min-width: 991px) {        
        padding: 0px 3px 3px 3px;
    }    
    .featuredLink {
        color: @maize;
        font-size: 16px;
        font-family: @gotham-bold;
        font-weight: @bold;
        &:hover {
            color: @maize;
        }
    }
    .featuredDescription {
        font-size: 12px;
        color: white;
    }
    .highlighted-lsa-items {
        font-size: 14px;
        font-family: @gotham-bold;
        font-weight: @bold;
        line-height: 1.2em;
    }
    .other-lsa-items {
        line-height: 1em;
        font-family: @gotham-bold;
        font-weight: @bold;
        line-height: 1.2em;
    }
}
.lsa-nav li a.promoted-link {
  color: @dmc-cyan;
}
