.events_calendar .pageTitle {
    margin: 0;
    padding-bottom: 18px;
    
    .subtitle {
        font-family: @gotham-light-i;
        font-weight: @light;
        font-style: italic;
        font-size:20px;
    }
}

.events-calendar-wrap {
    width: 100%;
    display: block;
    a {
        text-decoration: none;
    }
    .headline {
        border-bottom: 1px dotted #a7a7a7;

        h4 {
            font-family: @gotham-bold;
            font-weight: @bold;
            margin-bottom: 2px;
            font-size: 18px;

            @media ( min-width: 768px ) {
                font-size: 14px;
            }

            @media ( min-width: 992px ) {
                font-size: 16px;
            }

            @media ( min-width: 1200px ) {
                font-size: 18px;
            }
        }

        .event-feed {
            color: #0d57aa;
            font-size: 10px;
            text-transform: uppercase;
            float: right;
            border: 1px solid #a7a7a7;
            padding: 0 0.5em;
            position: relative;
            top: -15px;

            .fa {
                margin-left: 0.5em;
            }

            &:hover {
                text-decoration: none;
                background-color: #e5e5e5;
            }
        }
    }

    .featured-event {
        width: 100%;        
        margin-bottom: 6px;
        float: left;
        background-repeat: repeat-x; 
        background-position: @25-black-offset-x @25-black-offset-y ;

        @media (max-width: 767px) {
            min-height: 0;
        }

        &:hover {

            h4 {
                text-decoration: underline;
            }
        }

        .featured-image {
            width: 60%;
            float: left;
            background-repeat: repeat-x; 
            background-position: @25-black-offset-x @25-black-offset-y ;

            img {
                width: 100%;
            }
        }
        .teaser {
            width: 96%;
            position: relative;
            float: left;
            height: 100%;
            background-image: none;
            color: #FFF;
            padding: 12px 12px 48px 12px; 

            .event {
                margin: 0 0 24px;

                .date {
                    position: absolute;
                    left: -60px;
                    top: 20px;
                    background-color: #FFF;
                }

                &:hover {
                    .date, {
                        text-decoration: none;
                         background-color: #e1e1e1;

                            .month {
                                color: #e1e1e1;
                            }
                    }
                    
                    .details .title {
                            text-decoration: underline;
                        }
                    
                }
            }
            
            .details {
                padding: 0 15px;
                font-family: @gotham-bold;
                font-weight: @bold;
                line-height: 18px;

                .title {
                    color: #FFF;
                    font-family: @gotham-black;
                    font-weight: @black;
                    display: block;
                    font-size: 16px;
                    margin-bottom: 6px;

                    @media ( min-width: 768px ) {
                        font-size: 12px;
                    }

                    @media ( min-width: 992px ) {
                        font-size: 16px;
                    }

                    &:hover {
                        color: #FFF !important;
                        text-decoration: underline;
                    }
                }

                .time, .place, .event_room {
                    display: none;
                }

                .subtitle {
                    font-size: 14px;
                    line-height: 18px;
                    margin-bottom: 6px;
                    display: inline-block;
                    color: #FFF;
                    font-family: @gotham-light-i;
                    font-weight: @normal;
                    font-style: italic;

                    &:hover {
                        color: #FFF !important;
                    }

                    @media ( min-width: 768px ) {
                        font-size: 10px;
                        line-height: 12px;
                    }

                    @media ( min-width: 992px ) {
                        font-size: 12px;
                        line-height: 18px;
                    }

                    @media ( min-width: 1200px ) {
                        font-size: 14px;
                    }
                }
            }

            .description {
                padding: 0 15px;
                color: #FFF;
                font-family: @gotham-light;
                font-weight: @normal;
                font-size: 14px;
                line-height: 18px;

                @media ( min-width: 768px ) {
                    font-size: 10px;
                    line-height: 12px;
                }

                @media ( min-width: 992px ) {
                    font-size: 12px;
                    line-height: 18px;
                }

                @media ( min-width: 1200px ) {
                    font-size: 14px;
                }
            }

            .more-info {
                position: absolute;
                left: -10px;
                bottom: 15px;
                font-family: @gotham-light;
                font-weight: @normal;
                font-size: 16px;
                text-transform: uppercase;
                // background-image: url('/etc/designs/michigan-lsa/clientlibs/images/50-black.png');
                background-image: url(@spritesheet-image-repeated);
                background-repeat: repeat-x; 
                background-position: @50-black-offset-x @50-black-offset-y ;                
                padding: 3px;

                a {
                    color: #FFF;
                    padding-left: 40px;
                    line-height: 24px;
                    display: block;
                }

                .plus {
                    font-size: 24px;
                    position: relative;
                    bottom: -3px;
                    padding-right: 40px;
                }

                &:hover {
                    .link {
                        text-decoration: underline;
                    }

                    .plus, a {
                        text-decoration: none;
                    }
                }

                &:after {
                    content: '';
                    position: absolute;
                    bottom: -10px;
                    left: 0px;
                    width: 0;
                    height: 0;
                    border-top: 5px solid #161616;
                    border-left: 5px solid transparent;
                    border-right: 5px solid #161616;
                    border-bottom: 5px solid transparent;
                }

                @media ( min-width: 768px ) {
                    font-size: 11px;
                    padding-bottom: 0px;

                    .plus {
                        font-size: 15px;
                        bottom: -1px;
                    }
                }

                @media ( min-width: 992px ) {
                    font-size: 14px;
                    padding-bottom: 2px;

                    .plus {
                        font-size: 20px;
                        bottom: -2px;
                    }
                }

                @media ( min-width: 1200px ) {
                    font-size: 16px;
                    padding-bottom: 3px;

                    .plus {
                        font-size: 24px;
                        bottom: -3px;
                    }
                }
            }
        }
        .featured-image + .teaser {
            width: 40%;
            @media ( max-width: 767px ) {
                width: 100%;
            }
        }
        @media ( max-width: 767px ) {
            .featured-image {
                width: 100%;
                float: none;
            }

            .teaser {
                width: 100%;
                position: static;
                padding-top: 10px;

                .event {
                    position: relative;

                    .date {
                        left: 14px;
                        top: -95px;
                    }
                }

                .more-info {
                    position: static;
                    display: inline-block;
                    margin-left: 15%;
                    margin-right: 15%;
                    padding: 0 0 3px 0;
                    width: 70%;
                    text-align: center;

                    &:after {
                        border-top: 5px solid transparent;
                        border-right: 5px solid transparent;
                    }
                }
            }
        }
    }

    .calendar {
        margin-top: 5px;

        .headline {
            width: 100%;
            border-top: 1px solid #e5e5e5;
            background: url(@spritesheet-image-repeated) @headline-pattern-offset-x @headline-pattern-offset-y repeat-x;
            border-bottom: none;

            h3 {
                display: inline-block;
                font-family: @gotham-bold;
                font-weight: @bold;
                min-width: 150px;
                margin: 0;
                padding: 8px 50px 8px 0px;
                background-color: #FFF;
                font-size: 18px;
                line-height: 18px;

                @media ( min-width: 768px ) {
                    font-size: 14px;
                }

                @media ( min-width: 992px ) {
                    font-size: 16px;
                }

                @media ( min-width: 1200px ) {
                    font-size: 18px;
                }
            }
        }

        .calendar-tabs {
            position: relative;

            .nav-tabs {
                border-bottom: 1px solid #CCC;
                padding-left: 10px;
                margin-bottom: 6px;
                font-family: @gotham-bold;
            font-weight: @bold;
                font-size: 14px;
                line-height: 16px;

                @media ( min-width: 768px ) {
                    font-size: 10px;
                }

                @media ( min-width: 992px ) {
                    font-size: 12px;
                }

                @media ( min-width: 1200px ) {
                    font-size: 14px;
                }

                li {
                    a {
                        border-radius: 0;
                        bottom: -1px;
                        border: none;
                        margin-top: 12px;
                        padding: 10px 20px;
                        font-size: 14px;
                        line-height: 18px;

                        @media ( min-width: 768px ) {
                            font-size: 10px;
                        }

                        @media ( min-width: 992px ) {
                            font-size: 12px;
                        }

                        @media ( min-width: 1200px ) {
                            font-size: 14px;
                        }
                    }

                    &.active a, &.active:hover a {
                        border: 1px solid #CCC;
                        border-bottom: 1px solid #FFF;
                        background-color: #FFF;
                        cursor: text;
                        font-family: @gotham-black;
                        font-weight: @black;
                    }

                    &:hover a {
                        border: none;
                    }
                }
            }

            .tags {
                font-family: @gotham-bold;
            font-weight: @bold;
                margin-top: 5px;
                height: 36px;
                cursor: pointer;
                right: 0;
                bottom: 1px;
                position: relative;
                width: 100%;
                text-align: right;
                font-size: 14px;
                line-height: 18px;

                @media ( min-width: 768px ) {
	                position: absolute;
	                width: 50%;
                    font-size: 10px;
                    line-height: 24px
                }

                @media ( min-width: 992px ) {
                    font-size: 14px;
                    line-height: 30px;
                }

                a {
                    position: absolute;
                    display: block;
                    right: 0;
                    padding: 6px 20px;

                    &:hover {
                        text-decoration: none;
                        background-color: #e5e5e5;
                    }
                }

                i.fa {
                    -webkit-transition: all 0.5s; /* For Safari 3.1 to 6.0 */
                    transition: all 0.5s;
                }

                &.open i.fa {
                    -ms-transform: rotate(180deg); /* IE 9 */
                    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
                    transform: rotate(180deg);
                }

                .dropdown {
                    width: 265px;
                    right: 0;
                    top: 30px;
                    position: absolute;
                    text-align: left;
                    padding: 12px;
                    background-color: #e5e5e5;
                    display: none;
                    z-index: 1;

                    a {
                        position: static;
                        padding: 0;
                    }

                    ul {
                        list-style: none;
                        padding-left: 0;
                    }
                    .more {
                        display: block;
                        text-align: center;
                        font-family: @gotham-black;
                        font-weight: @black;
                        text-transform: uppercase;
                    }
                }
            }
        }

        .calendar-date-nav {
            display: flex;
            border-bottom: 1px solid #e5e5e5;
            padding-bottom: 5px;
            font-family: @gotham-bold;
            font-weight: @bold;
            font-size: 14px;
            line-height: 36px;

            @media ( min-width: 768px ) {
                font-size: 10px;
                line-height: 24px;
            }

            @media ( min-width: 992px ) {
                font-size: 12px;
                line-height: 30px;
            }

            @media ( min-width: 1200px ) {
                font-size: 14px;
                line-height: 36px;
            }

            .viewLabel {
                margin: auto;
                font-family: @gotham-bold;
                font-weight: @bold;
                font-size: 16px;
                line-height: 16px;

                @media ( min-width: 768px ) {
                    font-size: 12px;
                    line-height: 24px;
                }

                @media ( min-width: 992px ) {
                    font-size: 15px;
                    line-height: 30px;
                }

                @media ( min-width: 1200px ) {
                    font-size: 16px;
                    line-height: 36px;
                }
            }
			
            .previous {
                margin: auto;
                margin-left: 0px;
                .fa {
                    margin-right: 8px;
                }
            }

            .next {
                margin: auto;
                margin-right: 0px;
                .fa {
                    margin-left: 8px;
                }
            }
        }

        .events-table {
            .event-table-group {
                line-height: 34px;
                border-bottom: 1px solid #e5e5e5;
                font-family: @gotham-black;
                font-weight: @black;
                margin-top: 1px;
                display: block;
                padding: 0 5px;
                font-size: 16px;
                line-height: 36px;

                @media ( min-width: 768px ) {
                    font-size: 12px;
                    line-height: 30px;
                }

                @media ( min-width: 992px ) {
                    font-size: 15px;
                    line-height: 36px;
                }

                @media ( min-width: 1200px ) {
                    font-size: 16px;
                }

                &:hover {
                    background-color: #eff0f1;
                }
            }

            .event {
                border-bottom: 1px solid #e5e5e5;
                padding: 12px 6px;
                margin-top: 1px;
                font-family: @gotham-bold;
                font-weight: @bold;

                a:hover {
                    text-decoration: none;
                }

                .date-time {
                    color: #555555;
                    font-family: @gotham-bold;
                    font-weight: @bold;
                    font-size: 14px;

                    @media ( min-width: 768px ) {
                        font-size: 10px;
                    }

                    @media ( min-width: 992px ) {
                        font-size: 12px;
                    }

                    @media ( min-width: 1200px ) {
                        font-size: 14px;
                    }
                }

                .teaser {
                    h4 {
                        margin-top: 0;
                        font-family: @gotham-black;
                        font-weight: @black;
                        font-size: 16px;
                        @media ( min-width: 768px ) {
                            font-size: 10px;
                        }

                        @media ( min-width: 992px ) {
                            font-size: 13px;
                        }

                        @media ( min-width: 1200px ) {
                            font-size: 16px;
                        }
                    }

                    .subtitle {
                        font-family: @gotham-light-i;
                        font-weight: @light;
                        font-style: italic;
                        color: #555555;
                    }
                    .place {
                        color: #555555;
                        font-family: @gotham-bold;
                        font-weight: @bold;
                        font-size: 14px;

                        @media ( min-width: 768px ) {
                            font-size: 10px;
                        }

                        @media ( min-width: 992px ) {
                            font-size: 12px;
                        }

                        @media ( min-width: 1200px ) {
                            font-size: 14px;
                        }
                    }
                }

                .subscribe a{
                    margin-left: 6px;
                    float: right;
                    font-size: 18px;
                    @media ( min-width: 768px ) {
                        font-size: 12px;
                    }

                    @media ( min-width: 992px ) {
                        font-size: 14px;
                    }

                    @media ( min-width: 1200px ) {
                        font-size: 18px;
                    }

                    .fa-google {
                        margin-top: 4px;
                    }
                }
                &:not(:hover) {
                    .teaser h4.themeText, .subscribe a{
                        color: #000;
                    }
                }
                &:hover {
                    background-color: #eff0f1;
                    .teaser h4.themeText {
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }
        }

        .footline {
            width: 100%;
            margin-top: 5px;
            height: 33px;
            background: url(@spritesheet-image-repeated) @headline-pattern-offset-x @headline-pattern-offset-y repeat-x;
            border-bottom: none;
            margin-bottom: 12px;
        }
    }

    .notfound {
        color: #555555;
        font-family: @gotham-bold;
        font-weight: @bold;
        padding: 20px;
        margin-bottom: 2px;
        text-align: center;
    }

    .loading {
        bottom: 10px;
        color: #666666;
        display: none;
        font-size: 26px;
        left: 50%;
        position: absolute;
    }

    .eventresult {
        padding: 12px;
        border-bottom: 1px solid #e1e1e1;
    }
}

.pageTitle .subTitle {
    font-family: @gotham-light;
    font-weight: @normal;
}

.event-detail-wrap {

    border-top: 1px solid #CCC;
    margin-top: -10px;
    padding-top: 11px;

    .event-detail-float {
        border: 1px solid #e5e5e5;
        background-color: #EFF0F0;
        padding: 18px;
        float: left;
        width: 100%;
        margin-bottom: 24px;

        @media ( min-width: 768px ) {
            width: 50%;
            margin: 0 18px 18px 0;
            margin-bottom: 0;
            padding: 6px;
        }

        @media ( min-width: 1200px ) {
            padding: 18px;
        }

        img {
            width: 100%;
        }

        .date, .time, .place {
            font-family: @gotham-black;
            font-weight: @black;
            font-size: 24px;
            line-height: 30px;

            @media ( min-width: 768px ) {
                font-size: 15px;
                line-height: 18px;
            }

            @media ( min-width: 992px ) {
                font-size: 18px;
                line-height: 24px;
            }

            @media ( min-width: 1200px ) {
                font-size: 24px;
                line-height: 30px;
            }

            .map {
                color: #000;
                font-family: @gotham-bold;
                font-weight: @bold;
                font-size: 14px;
                line-height: 20px;
                margin-right: 12px;
                display: inline-block;
                border: 1px solid #CCC;
                border-radius: 3px;
                padding: 1px 6px;
                background-color: #FFF;
                white-space: nowrap;
                margin-bottom: 12px;
                font-size: 12px;
                margin-left: 12px;

                &:hover {
                    text-decoration: none;
                    background-color: #EEE;
                }
            }
        }

        .date {

            margin-top: 18px;

            @media ( min-width: 768px ) {
                margin-top: 12px;
            }

            @media ( min-width: 1200px ) {
                margin-top: 18px;
            }
        }

        .social-wrap {
            margin: 0;

            iframe {
            position: relative !important;
            }

            .twitter-share-button {
                position: relative;
                top: 6px;
                margin-right: 12px;
            }

            .google-add-button, .ical-add-button, .email-share-button {
                color: #000;
                font-family: @gotham-bold;
                font-weight: @bold;
                margin-right: 12px;
                display: inline-block;
                border: 1px solid #CCC;
                border-radius: 3px;
                padding: 1px 6px;
                background-color: #FFF;
                white-space: nowrap;
                margin-bottom: 12px;
                font-size: 12px;

                &:hover {
                    text-decoration: none;
                    background-color: #EEE;
                }
            }
        }
    }

    .description-wrap {
        margin: 12px 0;
        font-family: @gotham-light;
        font-weight: @normal;
        color: #333;
        font-size: 16px;
        line-height: 24px;

        @media ( min-width: 768px ) {
            font-size: 13px;
        }

        @media ( min-width: 992px ) {
            font-size: 14px;
        }

        @media ( min-width: 1200px ) {
            font-size: 16px;
        }
    }


    .detail-wrap {
        font-size: 14px;
        th {
            font-family: @gotham-bold;
            font-weight: @bold;
            color: #FFF;
            padding-left: 18px;
            padding-right: 18px;
        }

        td {
            font-family: @gotham-light;
            font-weight: @normal;
        }
    }   
    .table {
        border-bottom: 1px solid #dddddd;
    } 
}