// DEPARTMENT (FOR) NAV
.department-nav-wrap {
    color: #fff;
    position: relative;
    .bg {
        position: absolute;
        height: 100%;
        width: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        background-position: center top;
        @media screen and (max-width: 767px) {
            background-image: none !important ;
        }
    }
    .center {
        text-align: center;
    }
    div.top-box {
        height: 4px;
        position: relative;
        border-top: none;
        border-right: none;
        border-left: none;
    }
    .audience-nav {
        position: relative;
    }
    div.bottom-box {
        position: relative;
        height: 4px;
        margin-top: 4px;
        border-right: none;
        border-bottom: none;
        border-left: none;
    }
    a, a:hover, a:focus, .audience-nav-item div.currentPath {
        text-decoration: none;
        color: #fff;
        font-family: @sentinal;
        font-weight: @normalSent;
    }
    ul {
        list-style-type: none;
        text-align:center;
        display: inline;
        margin: 0;
        padding-left: 0px;
    }
    h3 {
        // font-size:14px;
        font-size: 1.1em;
        font-family: @serif-for;
        font-style: italic;        
        display: inline;
        padding: 5px 20px;
    }
    li {
        display: inline-block;
        white-space: nowrap;
        margin-top: 4px;
        a, div {
            display: inline-block;
            padding: 3px 20px;
        }
        a:hover, a:focus, .currentPath {
            background: url(@spritesheet-image-repeated) @audnav-hover-offset-x @audnav-hover-offset-y repeat-x;
        }
    }
    @media screen and (min-width: 768px) {
        li {
            font-size:13px;
            line-height:18px; 
        }
    }
    /* Medium devices (desktops, 992px and up) */
    @media screen and (min-width: 992px) {
        li {
            font-size:13px; 
            line-height:18px;
        }
    }
    /* Large devices (large desktops, 1200px and up) */
    @media screen and (min-width: 1200px) {
        li {
            font-size: 13px; 
            line-height:18px;
        }
    }
}

.level-two-nav {
    width: 100%;
    height: 205px;
    background: url(@spritesheet-image-repeated) @dept-header-bg-offset-x @dept-header-bg-offset-y repeat-x @blue;
    display: none;
    position: relative;
    a {
        color: @dmc-cyan;
        text-decoration: none;
        font-weight: @bold;
        &:hover, &:focus {
            color: #FFF;
        }
    }
    .currentL2 {
        color: #FFF;
    }
    .col-sm-4, .col-sm-3, .col-sm-5 {
        border-left: 1px dotted #4f5355;
        margin: 30px 0;
    }
    h1 {
        margin-top: 0;
        font-family: @gotham-light;
        font-weight: @normal;
        font-size: 36px;
        line-height: 36px;
        float: right;
        @media (min-width : 768px) {
          font-size: 24px;
      }
      @media (min-width : 992px) {
          font-size: 30px;
      }
      @media (min-width : 1200px) {
          font-size: 36px;
      }
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 2.5;

    li {
        line-height: 1.5;
        padding: 0.5em 0;
        }
    }
    @media screen and (min-width: 768px) {
        h3, li {
            font-size:12px;
            line-height:18px; 
        }
    }
    /* Medium devices (desktops, 992px and up) */
    @media screen and (min-width: 992px) {
        h3, li {
            font-size:12px; 
            line-height:18px;
        }
    }
    /* Large devices (large desktops, 1200px and up) */
    @media screen and (min-width: 1200px) {
        h3, li {
            font-size: 12px; 
            line-height:18px;
        }
    }
    .close {
        opacity: 1;
        position: absolute;
        color: #FFF;
        background-color: #0fa6d3;
        padding: 4px 7px;
        right: 0;
        top: -20px;
        font-family: @gotham-bold;
        font-weight: @bold;
        font-size: 16px;
    }
}
