// This global.less is included into other LESS files that use the //$GLOBAL
// token in the begining of the file.  Because of this, it should be output
// free, meaning basically just variable, mixins and less comments (// not /*)

// Global Color Definitions

// Primary
@maize: #ffcb05; // Maize
@blue: #00274c; // Blue
@dmc-cyan: #0fa6d3;
@dmc-cyan2: #007cba;
@giving-blue: #01203D;

@rackham-roof-green: #83b2a8;
@matthaei-violet: #575294;


@law-quad-stone: #655a52 ;
@law-quad-stone-hl: #847b75;
@the-rock-gray: #6a6d68 ;
@the-rock-gray-hl : #888a86;
@angell-hall-ash: #7a6e66 ;
@angell-hall-ash-hl: #958b85;
@web-gray-1: #333 ;
@web-gray-1-hl: #5c5c5c;
@web-gray-2: #555 ;
@web-gray-2-hl: #777;
@tappan-red: #b51e0a ;
@tappan-red-hl: #c44b3b;
@hill-brown: #7a121c ;
@hill-brown-hl: #954149;
@archway-ivy: #7e732f ;
@archway-ivy-hl: #988f59;
@burton-tower-beige: #797852 ;
@burton-tower-beige-hl : #949375;
@umma-tan: #766536 ;
@umma-tan-hl : #91845e;
@observatory-gray: #6d675d ;
@observatory-gray-hl : #8a857d;
@web-tan-1: #886b01 ;
@web-tan-1-hl : #a08934;
@web-gray-3: #6a6a6a ;
@web-gray-3-hl : #888;
@web-gray-4: #6f767a ;
@web-gray-4-hl : #8c9195;
@ross-school-orange: #ac5f00 ;
@ross-school-orange-hl : #bd7f33;
@lsa-orange: #ac5600 ;
@lsa-orange-hl : #bd7833;
@wave-field-green: #797500 ;
@wave-field-green-hl : #949133;
@arboretum-blue: #006ab8 ;
@arboretum-blue-hl : #3388c6;
@canham-pool-blue: #4568ae ;
@canham-pool-blue-hl : #6a86be;
@web-blue-1: #002a5b ;
@web-blue-1-hl : #33557c;
@web-blue-2: #024794 ;
@web-blue-2-hl : #356ca9;
@web-blue-3: #0257aa ;
@web-blue-3-hl : #3579bb;
@web-blue-4: #465d85 ;
@web-blue-4-hl : #6b7d9d;
@web-blue-5: #40658f ;
@web-blue-5-hl : #6684a5;
@taubman-teal : #007474 ;
@taubman-teal-hl : #339090;
@rackham-roof-green : #48736a ;
@rackham-roof-green-hl : #6d8f88;
@ann-arbor-amethyst : #702490 ;
@ann-arbor-amethyst-hl : #8d50a6;
@matthaei-violet : #585294 ;
@matthaei-violet-hl : #7975a9;
@south-forest-green : #18453b ;
@south-forest-green-hl : #466a62;
@huron-river-green : #0c5832 ;
@huron-river-green-hl : #3d795b;
@spring-term-green : #00743c ;
@spring-term-green-hl : #339063;
@puma-black: #111b23 ;
@puma-black-hl: #444E56;

// Font Stacks
@gotham-light:  "Gotham Narrow SSm A", "Gotham Narrow SSm B", Arial, Helvetica, sans-serif;
@gotham-light-i: "Gotham Narrow SSm A", "Gotham Narrow SSm B", Arial, Helvetica, sans-serif;
@gotham-bold: "Gotham Narrow SSm A", "Gotham Narrow SSm B", Arial, Helvetica, sans-serif;
@gotham-black: "Gotham Narrow SSm A", "Gotham Narrow SSm B", Arial, Helvetica, sans-serif;

@sentinal: "Sentinel SSm A", "Sentinel SSm B", Georgia, Times, "Times New Roman", serif;
@sentinal-i: "Sentinel SSm A", "Sentinel SSm B", Georgia, Times, "Times New Roman", serif;
@sentinal-black: "Sentinel SSm A", "Sentinel SSm B", Georgia, Times, "Times New Roman", serif;

@serif-for: 'Georgia,Times,"Times New Roman",serif';

@light: 300;
@normal: 300;
@normalSent: 400;
@bold: 500;
@black: 800;
 
// TODO: Find and replace media queries to use these variables 
@xs-viewport-max: 767px ;
@sm-viewport-min: 768px ;
@sm-viewport-max: 991px ;
@md-viewport-min: 992px ;
@md-viewport-max: 1199px ;
@lg-viewport-min: 1200px ;


// IMAGES
@spritesheet-image: '/content/lsaperegrine/assets/stylingImages/combined.png';
@banner-tab-offset-x: -610px;
@banner-tab-offset-y: -136px;
@button-back-offset-x: -610px;
@button-back-offset-y: 0px;
@close-offset-x: -266px;
@close-offset-y: -387px;
@control-left-offset-x: 0px;
@control-left-offset-y: -387px;
@control-right-offset-x: -133px;
@control-right-offset-y: -387px;
@giving-bg-offset-x: 0px;
@giving-bg-offset-y: 0px;
@next-offset-x: -460px;
@next-offset-y: 0px;
@prev-offset-x: -460px;
@prev-offset-y: -145px;
@second-tab-offset-x: -610px;
@second-tab-offset-y: -246px;

// repeated images
@spritesheet-image-repeated: '/content/lsaperegrine/assets/stylingImages/combined-repeated.png';
@25-black-offset-x: 0px;
@25-black-offset-y: -861px;
@50-black-offset-x: 0px;
@50-black-offset-y: -1181px;
@audnav-hover-offset-x: 0px;
@audnav-hover-offset-y: -1501px;
@button-back-offset-x: 0px;
@button-back-offset-y: 0px;
@caution-pattern-offset-x: 0px;
@caution-pattern-offset-y: -1821px;
@dept-footer-bg-offset-x: 0px;
@dept-footer-bg-offset-y: -2781px;
@dept-header-bg-offset-x: 0px;
@dept-header-bg-offset-y: -236px;
@giving-pattern-offset-x: 0px;
@giving-pattern-offset-y: -2141px;
@headline-pattern-offset-x: 0px;
@headline-pattern-offset-y: -2461px;
@large-angle-fade-offset-x: 0px;
@large-angle-fade-offset-y: -542px;

// No Global styles here. use lsa.less or similar