@import "global.less";


// Theme Color
.set-theme(@themeColor, @hlColor){

    .theme-bg {
        background-color: @themeColor;
        &.dark {
            background-color: darken(@themeColor, 5%);
        }
        &.light {
            background-color: @hlColor;
        }
        &.gradient {
            background: @themeColor url(@spritesheet-image-repeated) repeat-x left bottom;
        }&.css-gradient { 
            background: linear-gradient(@themeColor, darken(@themeColor, 13%));
        }&.lsa-transparent {
            background-color: fade(@themeColor, 50%);;
        }
    }

    .theme-border {
        border: 1px solid @hlColor;
    }

    .theme-hover-color {
        &:hover {
            border-bottom-color: @hlColor;
        }
    }

    .theme-hover-effect {
        &:hover {
            background-color: #fff;
            outline: 2px solid @themeColor;
            color: @themeColor;
        }
    }

    .text a, .table a, & .textimage a {
        background: none;
        color: @themeColor;
    }

    .themeText {
        background: none;
        color: @themeColor;
    }
    .themeLink {
        background: none;
        &:hover {
            color: @themeColor !important;
        }
        &.light {
            &:hover {
                color: @hlColor !important;
            }
        }
    }
    .theme-button {
        background-color: @themeColor;
        &:hover, &:focus {
            background-color: @hlColor;
            text-decoration: none;
        }
    }
    .theme-arrow {
        &:after {
            border-top-color: @themeColor !important;
        }
    }
}

// Theme Section
.set-theme-section(@themeColor){
    section.section-bg, section.container {
        background-color: @themeColor;
        &.dark {
            background-color: darken(@themeColor, 5%);
        }
        &.light {
            background-color: lighten(@themeColor, 15%);
        }
    }
}


.tc-stone, div.tc-stone{
    .set-theme(@law-quad-stone, @law-quad-stone-hl);    
}
section.tc-stone-bg{
    .set-theme-section(@law-quad-stone);
}

.tc-rock, div.tc-rock {
    .set-theme( @the-rock-gray, @the-rock-gray-hl) ;
}
section.tc-rock-bg{
    .set-theme-section(@the-rock-gray);
}

.tc-angell, div.tc-angell {
    .set-theme( @angell-hall-ash, @angell-hall-ash-hl);
}
section.tc-angell-bg{
    .set-theme-section(@angell-hall-ash);
}

.tc-grey1, div.tc-grey1 {
    .set-theme( @web-gray-1, @web-gray-1-hl );
}
section.tc-grey1-bg{
    .set-theme-section(@web-gray-1);
}

.tc-grey2, div.tc-grey2 {
    .set-theme( @web-gray-2, @web-gray-2-hl );
}
section.tc-grey2-bg{
    .set-theme-section(@web-gray-2);
}

.tc-tappan, div.tc-tappan {
    .set-theme( @tappan-red, @tappan-red-hl );
}
section.tc-tappan-bg{
    .set-theme-section(@tappan-red);
}

.tc-hill, div.tc-hill {
    .set-theme( @hill-brown, @hill-brown-hl );
}
section.tc-hill-bg{
    .set-theme-section(@hill-brown);
}

.tc-archway, div.tc-archway {
    .set-theme( @archway-ivy, @archway-ivy-hl );
}
section.tc-archway-bg{
    .set-theme-section(@archway-ivy);
}

.tc-burton, div.tc-burton {
    .set-theme( @burton-tower-beige, @burton-tower-beige-hl );
}
section.tc-burton-bg{
    .set-theme-section(@burton-tower-beige);
}

.tc-umma, div.tc-umma {
    .set-theme( @umma-tan, @umma-tan-hl );
}
section.tc-umma-bg{
    .set-theme-section(@umma-tan);
}

.tc-observatory, div.tc-observatory {
    .set-theme( @observatory-gray, @observatory-gray-hl );
}
section.tc-observatory-bg{
    .set-theme-section(@observatory-gray);
}

.tc-tan1, div.tc-tan1 {
    .set-theme( @web-tan-1, @web-tan-1-hl );
}
section.tc-tan1-bg{
    .set-theme-section(@web-tan-1);
}

.tc-grey3, div.tc-grey3 {
    .set-theme( @web-gray-3, @web-gray-3-hl );
}
section.tc-grey3-bg{
    .set-theme-section(@web-gray-3);
}

.tc-grey4, div.tc-grey4 {
    .set-theme( @web-gray-4, @web-gray-4-hl );
}
section.tc-grey4-bg{
    .set-theme-section(@web-gray-4);
}

.tc-ross-orange, div.tc-ross-orange {
    .set-theme( @ross-school-orange, @ross-school-orange-hl );
}
section.tc-ross-orange-bg{
    .set-theme-section(@ross-school-orange);
}

.tc-lsa-orange, div.tc-lsa-orange {
    .set-theme( @lsa-orange, @lsa-orange-hl );
}
section.tc-lsa-orange-bg{
    .set-theme-section(@lsa-orange);
}

.tc-wave, div.tc-wave {
    .set-theme( @wave-field-green, @wave-field-green-hl );
}
section.tc-wave-bg{
    .set-theme-section(@wave-field-green);
}

.tc-arboretum, div.tc-arboretum {
    .set-theme( @arboretum-blue, @arboretum-blue-hl );
}
section.tc-arboretum-bg{
    .set-theme-section(@arboretum-blue);
}

.tc-canham, div.tc-canham {
    .set-theme( @canham-pool-blue, @canham-pool-blue-hl );
}
section.tc-canham-bg{
    .set-theme-section(@canham-pool-blue);
}

.tc-blue1, div.tc-blue1 {
    .set-theme( @web-blue-1, @web-blue-1-hl );
}
section.tc-blue1-bg{
    .set-theme-section(@web-blue-1);
}

.tc-blue2, div.tc-blue2 {
    .set-theme( @web-blue-2, @web-blue-2-hl );
}
section.tc-blue2-bg{
    .set-theme-section(@web-blue-2);
}

.tc-blue3, div.tc-blue3 {
    .set-theme( @web-blue-3, @web-blue-3-hl );
}
section.tc-blue3-bg{
    .set-theme-section(@web-blue-3);
}

.tc-blue4, div.tc-blue4 {
    .set-theme( @web-blue-4, @web-blue-4-hl );
}
section.tc-blue4-bg{
    .set-theme-section(@web-blue-4);
}

.tc-blue5, div.tc-blue5 {
    .set-theme( @web-blue-5, @web-blue-5-hl );
}
section.tc-blue5-bg{
    .set-theme-section(@web-blue-5);
}

.tc-taubman, div.tc-taubman {
    .set-theme( @taubman-teal, @taubman-teal-hl );
}
section.tc-taubman-bg{
    .set-theme-section(@taubman-teal);
}

.tc-rackgreen, div.tc-rackgreen {
    .set-theme( @rackham-roof-green, @rackham-roof-green-hl );
}
section.tc-rackgreen-bg{
    .set-theme-section(@rackham-roof-green);
}

.tc-amethyst, div.tc-amethyst {
    .set-theme( @ann-arbor-amethyst, @ann-arbor-amethyst-hl );
}
section.tc-amethyst-bg{
    .set-theme-section(@ann-arbor-amethyst);
}

.tc-violet, div.tc-violet {
    .set-theme( @matthaei-violet, @matthaei-violet-hl );
}
section.tc-violet-bg{
    .set-theme-section(@matthaei-violet);
}

.tc-forest, div.tc-forest {
    .set-theme( @south-forest-green, @south-forest-green-hl );
}
section.tc-forest-bg{
    .set-theme-section(@south-forest-green);
}


.tc-river, div.tc-river {
    .set-theme( @huron-river-green, @huron-river-green-hl );
}
section.tc-river-bg{
    .set-theme-section(@huron-river-green);
}


.tc-spring, div.tc-spring {
    .set-theme( @spring-term-green, @spring-term-green-hl );
}
section.tc-spring-bg{
    .set-theme-section(@spring-term-green);
}

.tc-ummaize, div.tc-ummaize {
    .set-theme( @maize, @maize );
}
section.tc-ummaize-bg{
    .set-theme-section(@maize);
}

.tc-umblue, div.tc-umblue {
    .set-theme( @blue, @blue );
}
section.tc-umblue-bg{
    .set-theme-section(@blue);
}

.tc-lsacyan, div.tc-lsacyan {
    .set-theme( @dmc-cyan, @dmc-cyan );
}
section.tc-lsacyan-bg{
    .set-theme-section(@dmc-cyan);
}

.tc-lsacyan2, div.tc-lsacyan2 {
    .set-theme( @dmc-cyan2, @dmc-cyan );
}
section.tc-lsacyan2-bg{
    .set-theme-section(@dmc-cyan2);
}

.tc-white, div.tc-white {
    .set-theme( #FFF, #FFF );
}
section.tc-white-bg{
    .set-theme-section(#FFF);
}

.tc-puma, div.tc-puma {
    .set-theme( @puma-black, @puma-black-hl );
}
section.tc-puma-bg{
    .set-theme-section(@puma-black);
}

.hiddentext {
      clip: rect(0 0 0 0);
      overflow: hidden;
      position: absolute;
      height: 1px;
      width: 1px;
}

.theme-button {
    display: inline-block;
    padding: 9px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: @gotham-black;
    font-weight: @black;
    font-size: 16px;
    line-height: 18px;
    border: none;

    @media (min-width: 768px) {
        font-size: 10px;
        line-height: 12px;
    }
    @media (min-width: 992px) {
        font-size: 13px;
    }
    @media (min-width: 1200px) {
        font-size: 16px;
        line-height: 18px;
    }
    &:hover, &:focus {
        color: #FFF;
    }
}

section.container.none, 
section.section-bg section.container.none,
section.no-outer-bg section.container.none {
    background-color: #FFF;
}

@media print { 
	.breadcrumb-wrap, .sidenav-wrap, .phone-sidenav, .department-footer-wrap, .footer-wrap, .top-bar-wrap, .phone-search-wrap, .header-wrap, .phone-nav-wrap, .department-nav-hoverzone, a[href]:after {
		display: none !important; 
	} 
	.print-header {
		display: block !important;
	}
}