<div class="events_calendar">
    <div class="events-calendar-wrap">
        <div class="calendar">
            <div class="headline">
                <h3>Events: ${currentPage.title}</h3>
            </div>
            <div class="calendar-tabs">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active" ><a class="themeText" href="#">Day</a></li>
                    <li><a class="themeText" href="#">Week</a></li>
                    <li><a class="themeText" href="#">Month</a></li>
                </ul>
                <i class="fa fa-circle-o-notch fa-spin loading"></i>
            </div>
            <div class="calendar-date-nav clearfix">
                <div class="previous"><a class="themeText" href="#"><i class="fa fa-chevron-left"></i>Previous</a></div>
                <div class="viewLabel"></div>
                <div class="next"><a class="themeText" href="#">Next<i class="fa fa-chevron-right"></i></a></div>
            </div>

            <div class="events-table">
                <!-- Ajax Populated -->
            </div>
            <div class="footline"></div>
        </div>
    </div>



    <div class="clearfix"></div>
    <script type="text/javascript">

var Calendar = {};

Calendar.format = "YYYY-MM-DD";
Calendar.isDefaultDateView = false;

Calendar.getEvents = function(start, end) {
    var path = "${resource.path @ context='unsafe'}.event_table.html?start=" + start + "&end=" + end;

    $(".loading").show();

    $.get(path, function(data) {
        // If there is an error and the view wasn't changed by the user, try a broader date range
        if (data.match(/data-error/) && Calendar.isDefaultDateView) {
            Calendar.tryNextView(function() {
                $(".events-table").html(data);
            });
        } else {
            $(".events-table").html(data);
        }
        $(".loading").hide();
    });
};

Calendar.tryNextView = function(showError) {
    var urlHash = (location.hash) ? location.hash : "#view=day";
    if (Calendar.view === "day") {
       urlHash = urlHash.replace("day", "week");
       location.replace(urlHash);
    } else if (Calendar.view === "week") {
       urlHash = urlHash.replace("week", "month");
       location.replace(urlHash);
    } else {
        showError();
    }
};

Calendar.setSubTitle = function() {
    var subTitle = "";

    if (Calendar.view === "day") {
        subTitle = Calendar.initialDate.format("dddd, MMMM D, YYYY");
    } else if (Calendar.view === "week") {
        subTitle = "Week of " + moment(Calendar.dateStart).format("MMMM D, YYYY");
    } else {
        subTitle = moment(Calendar.dateStart).format("MMMM YYYY");
    }

    $(".pageTitle .subTitle").text(subTitle);
    $(".calendar-date-nav .viewLabel").text(subTitle);
};

Calendar.setActiveTab = function(index) {
    $(".calendar-tabs li").removeClass("active");
    $(".calendar-tabs li:eq(" + index + ")").addClass("active");
};

$(document).ready(function(){

    // Bind a callback that executes when document.location.hash changes.
    $(window).bind( "hashchange", function(e) {
        //var url = $.bbq.getState( "url" );

        var fragments = $.deparam.fragment();

        console.log(fragments);

        // Flag used for determining whether to try fallback tab views when events aren't returned
        if (!fragments.view && ! fragments.date) {
            Calendar.isDefaultDateView = true;
        }

        if (fragments.view) {
            Calendar.view = fragments.view;
        } else {
            Calendar.view = "day";
        }

        // Need separate dates because Moment mutate the orignal
        if (fragments.date) {
            Calendar.initialDate = moment(fragments.date);
            Calendar.date = moment(fragments.date);
            Calendar.nextDate = moment(fragments.date);
            Calendar.previousDate = moment(fragments.date);
        } else {
            Calendar.initialDate = moment();
            Calendar.date = moment();
            Calendar.nextDate = moment();
            Calendar.previousDate = moment();
        }

        Calendar.dateTabs = Calendar.date.format(Calendar.format);

        switch (Calendar.view) {
            case "month":
                console.log("Month");
                Calendar.dateStart = Calendar.date.startOf("month").format(Calendar.format);
                Calendar.dateEnd = Calendar.date.endOf("month").format(Calendar.format);
                Calendar.nextStart = Calendar.nextDate.add(1, "month").format(Calendar.format);
                Calendar.previousStart = Calendar.previousDate.subtract(1,"month").format(Calendar.format);
                Calendar.setActiveTab(2);
                break;
            case "week":
                console.log("Week");
                Calendar.dateStart = Calendar.date.startOf("week").format(Calendar.format);
                Calendar.dateEnd = Calendar.date.endOf("week").format(Calendar.format);
                Calendar.nextStart = Calendar.nextDate.add(1,"week").format(Calendar.format);
                Calendar.previousStart = Calendar.previousDate.subtract(1,"week").format(Calendar.format);
                Calendar.setActiveTab(1);
                break;
            default:
                console.log("Day / Other");
                Calendar.dateStart = Calendar.date.format(Calendar.format);
                Calendar.dateEnd = Calendar.dateStart;
                Calendar.nextStart = Calendar.nextDate.add(1,"day").format(Calendar.format);
                Calendar.previousStart = Calendar.previousDate.subtract(1,"day").format(Calendar.format);
                Calendar.setActiveTab(0);
        }

        // Set Nav Links
        $(".calendar-date-nav .next a").attr("href", "#date=" + Calendar.nextStart + "&view=" + Calendar.view);
        $(".calendar-date-nav .previous a").attr("href", "#date=" + Calendar.previousStart + "&view=" + Calendar.view);
        $(".calendar-tabs li:eq(0) a").attr("href", "#date=" + Calendar.dateTabs + "&view=day");
        $(".calendar-tabs li:eq(1) a").attr("href", "#date=" + Calendar.dateTabs + "&view=week");
        $(".calendar-tabs li:eq(2) a").attr("href", "#date=" + Calendar.dateTabs + "&view=month");

        console.log("Date");
        console.log(Calendar.dateStart);
        console.log(Calendar.dateEnd);
        console.log("Next");
        console.log(Calendar.nextStart);
        console.log("Previous");
        console.log(Calendar.previousStart);

        Calendar.getEvents(Calendar.dateStart, Calendar.dateEnd);

        Calendar.setSubTitle();

    });

    $(window).trigger( "hashchange" );
});
</script>

</div>