<div data-sly-unwrap data-sly-use.eventDetail="edu.umich.lsa.peregrine.core.use.EventDetail">
  <div class="pageTitle">
    <h1>${eventDetail.event.event_title @ context='html'}</h1>
    <div class="subtitle">${eventDetail.event.event_subtitle @ context='html'}</div>
    <a class="sideNavBurger visible-xs themeText themeLink" href="#"><i class="fa fa-bars"></i></a>
    <div data-sly-test="${eventDetail.multiDayEvent.occurrences}" class="text">
      <a class="themeText themeLink" href="#occurrences">Multiple Dates</a>
    </div>
  </div>


  <div class="event-detail-wrap" data-sly-test="${eventDetail.event.event_id != -1}">
    <div class="event-detail-float">
      <div class="lead-image">
        <img alt="" src="${eventDetail.event.styled_images.event_large_2x}" />
      </div>
      <div class="date">
        ${eventDetail.event.startDateLongFormat}
      </div>
      <div class="time">
        ${eventDetail.event.startEndTimeLong}
      </div>
      <div class="place" data-sly-test="${eventDetail.event.building_name}">
        <span data-sly-test="${eventDetail.event.room}" data-sly-unwrap>${eventDetail.event.room} </span>
        ${eventDetail.event.building_name}
        <a data-sly-test="${eventDetail.event.campus_maps_id && eventDetail.event.campus_maps_id!='1'}" class="map" href="${eventDetail.event.campusMapUrl}">
          <i class="fa fa-map-marker"></i> Map</a>
      </div>
      <div class="social-wrap">
        <a href="${eventDetail.event.googleCalendarUrl @ context='unsafe'}" target="_blank" class="google-add-button"><i class="fa fa-google"></i> Google</a>
        <a href="${eventDetail.event.icalUrl @ context='unsafe'}"  target="_blank" class="ical-add-button"><i class="fa fa-calendar"></i> iCal</a>
      </div>
    </div>
    <div class="description-wrap text clearfix">
      ${eventDetail.event.description @ context='html'}
    </div>

    <table class="table detail-wrap text">
      <tbody>
      <tr data-sly-test="${eventDetail.event.building_name}">
        <th class="col-xs-3 theme-bg">Building:</th>
        <td>${eventDetail.event.building_name}</td>
      </tr>
      <tr data-sly-test="${eventDetail.event.building_name=='Off Campus Location' && eventDetail.event.location_name }">
        <th class="col-xs-3 theme-bg">Location:</th>
        <td>${eventDetail.event.location_name}</td>
      </tr>
      <tr data-sly-test="${eventDetail.event.has_livestream == 1 && eventDetail.event.livestream_link}">
        <th class="col-xs-3 theme-bg">Event Link:</th>
        <td>
          <div>
            <a href="${eventDetail.event.livestream_link}">${eventDetail.event.livestream_link}</a>
          </div>
        </td>
      </tr>
      <tr data-sly-test="${eventDetail.event.has_livestream == 1 && eventDetail.event.livestream_password}">
        <th class="col-xs-3 theme-bg">Event Password:</th>
        <td>${eventDetail.event.livestream_password}</td>
      </tr>
      <tr data-sly-test="${eventDetail.event.cost}">
        <th class="col-xs-3 theme-bg">Cost:</th>
        <td>${eventDetail.event.cost}</td>
      </tr>
<!--      <tr data-sly-test="${eventDetail.event.links}">-->
<!--        <th class="col-xs-3 theme-bg">Website:</th>-->
<!--        <td>-->
<!--          <div data-sly-list.link="${eventDetail.event.links}">-->
<!--            <div>-->
<!--              <a href="${link.url}">${link.title}</a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </td>-->
<!--      </tr>-->
      <tr data-sly-test="${eventDetail.event.event_type}">
        <th class="col-xs-3 theme-bg">Event Type:</th>
        <td>${eventDetail.event.event_type}</td>
      </tr>
      <tr data-sly-test="${eventDetail.event.tags}">
        <th class="col-xs-3 theme-bg">Tags:</th>
        <td data-sly-test="${!eventDetail.currentPage.siteProperties.eventSearchUrl}">${eventDetail.event.tags @ join=', '}</td>
        <td data-sly-test="${eventDetail.currentPage.siteProperties.eventSearchUrl}" data-sly-list.tag="${eventDetail.event.tags}">
          <a href="${'{0}.html#q=&tags={1}' @ format=[eventDetail.currentPage.siteProperties.eventSearchUrl, tag], context='uri'}">${tag @ context='html'}</a><span data-sly-test="${!tagList.last}">,</span>
        </td>
      </tr>
      <tr data-sly-test="${eventDetail.event.occurance_notes}">
        <th class="col-xs-3 theme-bg">Notes:</th>
        <td>${eventDetail.event.occurance_notes}</td>
      </tr>
      <tr data-sly-test="${eventDetail.event.sponsors}">
        <th class="col-xs-3 theme-bg">Source:</th>
        <td> Happening @ Michigan from
          <div data-sly-unwrap data-sly-list.sponsor="${eventDetail.event.sponsors}">
            <a href="http://events.umich.edu/group/${sponsor.group_id}">${sponsor.group_name}</a><span data-sly-test="${!sponsorList.last}">, </span>
          </div>
        </td>
      </tr>
      <tr data-sly-test="${eventDetail.multiDayEvent.occurrences}">
        <th id="occurrences" class="col-xs-3 theme-bg">Upcoming Dates:</th>
        <td>
          <div data-sly-list.occurrence="${eventDetail.multiDayEvent.occurrences}">
            <div data-sly-test="${occurrenceList.count < 11 || occurrenceList.last}">
              <a data-sly-test="${eventDetail.currentOccurrenceId != occurrence.occurrence_id}" href="${eventDetail.currentPage.path}.detail.html/${eventDetail.multiDayEvent.event_id}-${occurrence.occurrence_id}.html">${occurrence.startDateLongFormat}&nbsp${occurrence.startEndTimeLong}</a>
              <span data-sly-test="${eventDetail.currentOccurrenceId == occurrence.occurrence_id}">${occurrence.startDateLongFormat}&nbsp${occurrence.startEndTimeLong}</span>
              <span data-sly-test="${occurrenceList.last}">&nbsp(Last)</span>
            </div>
            <div data-sly-test="${occurrenceList.count == 10 && !occurrenceList.last && eventDetail.multiDayEvent.occurrences.size != 11}">.....</div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>