<div class="events-calendar-wrap"
     data-sly-use.calendar="edu.umich.lsa.peregrine.core.use.CalendarEvents">
    <div data-sly-test="${calendar.eventGroups.size == 0}" class="notfound" data-error="notfound">No Events Found at this Time</div>
    <div data-sly-unwrap data-sly-list.group="${calendar.eventGroups}">
        <a class="event-table-group themeText themeLink" href="#date=${group.startDate}&view=day">${group.title}</a>
        <div data-sly-unwrap data-sly-list.event="${group.events}">
            <div class="event">
                <div class="row">
                    <div data-sly-unwrap data-sly-test="${!group.isMultiDay}">
                        <div class="date-time col-xs-3">${event.startEndTimeLong}
                            <p data-sly-test="${event.occurrence_count > 1}">Multiple Dates</p>
                        </div>
                    </div>
                    <div class="teaser col-xs-7">
                        <a href="${'{0}.detail.html/{1}.html' @ format=[calendar.currentPage.siteProperties.eventPageUrl, event.id]}"><h4 class="themeText">${event.event_title @ context='html'}</h4></a>
                        <span class="subtitle">${event.event_subtitle @ context='html'}</span><br >
                        <span class="place" data-sly-test="${event.building_name}">                            
                            <span data-sly-test="${event.room}">${event.room}&nbsp;</span>${event.building_name} 
                        </span>
                    </div>
                    <div class="subscribe col-xs-2">
                        <a href="${event.googleCalendarUrl @ context='unsafe'}" target="_blank" class="google themeText"><i class="fa fa-google"></i></a>
                        <a href="${event.icalUrl @ context='unsafe'}"  target="_blank" class="ical themeText"><i class="fa fa-calendar"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>