<div class="events-wrap"
     data-sly-test="${!properties.hideEventsList}"
     data-sly-use.events="edu.umich.lsa.peregrine.core.use.Events">
    ${events.getPagePath}
<!--/*

     data-sly-use.event="event.html"
  ${events.getCurrentPage.getSiteProperties.eventSponsorId}

  <h3><a href="${events.getCurrentPage.getSiteProperties.eventPageUrl}.html" class="themeText themeLink">Events</a></h3>

  <div data-sly-unwrap data-sly-test.hasFeatured="${events.featuredEvent}">
    <h4 class="featured" data-sly-test="${ !events.events.empty }"><span>Featured</span></h4>
    <div data-sly-unwrap data-sly-call="${event.event @ event=events.featuredEvent}"></div>
    <h4 class="upcoming" data-sly-test="${ !events.events.empty }"><span>Upcoming</span></h4>
  </div>

  <div data-sly-unwrap data-sly-list="${events.events}">
    <div data-sly-test="${events.maxResults >= itemList.count}" data-sly-unwrap data-sly-call="${event.event @ event=item}"></div>
  </div>
  <div data-sly-test="${events.events.empty && !hasFeatured }">
    No upcoming events at this time.
  </div>
  <div class="footline">
    <a href="${events.getCurrentPage.getSiteProperties.eventPageUrl}.html" class="theme-button">All Events</a>
  </div>
</div>

<div class="events-wrap row" data-sly-test="${properties.hideEventsList && wcmmode.edit}">
  <h3>Events List is turned off.  Double click to edit Events List in dialog</h3>
</div>

<div class="events-wrap row" data-sly-test="${(!properties.hideEventsList && !inheritedPageProperties.eventSponsorId) && wcmmode.edit}">
  <h3>Events List is hidden as no sponsor ID was supplied in homepage properties.</h3>
</div>
*/-->
<div class="clearfix"></div>