<template data-sly-template.event="${@ event}">
  <a class="event row theme-arrow" href="${'{0}.detail.html/{1}.html' @ format=['/content/lsaperegrine/pages/events', event.id]}">
    <div class="date">
      <div class="month theme-bg">
        <span>${event.startDateMonth}</span>
      </div>
      <span class="themeText day">${event.startDateDay}</span>
      <div class="end-date" data-sly-test="${event.has_end_time == 1" data-sly-test="${event.startDateDay != event.endDateDay && event.startDateMonth != event.endDateMonth}">
        <span>${event.endDateMonth} ${event.endDateDay}</span>
      </div>

      <div class="themeText multiday" data-sly-test="${event.occurrence_count > 1}">Multi</div>

    </div>
    <div class="details themeText">
      <span class="title themeText themeLink">${event.event_title @ context='html'}</span>
      <div class="subtitle themeText themeLink">${event.event_subtitle @ context='html'}</div>
      <span class="time">${event.startDateTimeLong}</span></br>
      <span class="event_room" data-sly-test="${event.room}" >${event.room} </span>
      <span class="place" data-sly-test="${event.building_name}">${event.building_name} </span>
    </div>
  </a>
</template>