<div class="department-nav-hoverzone">
    <div class="department-nav-wrap hidden-xs theme-bg gradient">
        <div class="bg" style="background-image: url('/content/lsaperegrine/assets/backgrounds/en-footer.png');"></div>
        <div class="top-box theme-border"></div>
        <div class="container audience-nav">
           <div class="row center">
               <h3>for</h3>
               <ul class="audience-nav-item">
                  <li>
                      <a class="audItem theme-bg theme-border" href="/lsa/prospective-students.html" data-hover="prospective-students">Prospective Students</a>
                      
                  </li>

                
                  <li>
                      <a class="audItem theme-bg theme-border" href="/lsa/current-students.html" data-hover="current-students">Current Students</a>
                      
                  </li>

                
                  <li>
                      <a class="audItem theme-bg theme-border" href="/lsa/alumni-friends.html" data-hover="alumni-friends">Alumni and Friends</a>
                      
                  </li>

                
                  <li>
                      <a class="audItem theme-bg theme-border" href="/lsa/faculty-staff.html" data-hover="faculty-staff">Faculty and Staff</a>
                      
                  </li>

                </ul>
            </div>
        </div>
        <div class="bottom-box theme-border"></div></div>


        
        <div class="level-two-nav level-two-nav-lsa hidden-xs" id="audMenu-prospective-students">


          <div class="container">

            <div class="col-sm-5">

              <a href="/lsa/prospective-students/virtual-campus-day.html" title="Virtual Campus Day" class="col-sm-6 featuredImage">
                <div class="primaryImage " data-picture="">
                  <div data-src="/content/michigan-lsa/en/prospective-students/virtual-campus-day/jcr:content/image.transform/reg/image.jpg" data-media="(min-width: 1px)"></div>
                  <img src="/content/lsaperegrine/assets/virtual-campus-day.jpg">
                </div>
              </a>

              <div class="col-sm-6">
                <a href="/lsa/prospective-students/virtual-campus-day.html" class="featuredLink">
                  Virtual Campus Day</a>
                

                <div class="featuredDescription">Learn what it means to be a Wolverine and dig in to what the liberal arts are all about. View our Campus Day presentations and information from wherever you are.</div>

              </div>
            </div>


            <div class="col-sm-3">
               <ul>
                <li class="highlighted-lsa-items">
                  <a href="/lsa/prospective-students/undergraduate.html">
                    Undergraduate</a>
                  
                </li>
              
                <li class="highlighted-lsa-items">
                  <a href="/lsa/prospective-students/graduate.html">
                    Graduate</a>
                  
                </li>
              
                <li class="highlighted-lsa-items">
                  <a href="/lsa/prospective-students/transfer.html">
                    Transfer</a>
                  
                </li>
              
                <li class="highlighted-lsa-items">
                  <a href="/lsa/prospective-students/international.html">
                    International</a>
                  
                </li>
              </ul>
            </div>
            <div class="col-sm-4">
              <ul>
                <li class="other-lsa-items">
                  <a href="/lsa/prospective-students/undergraduate/why-lsa.html">
                    Why LSA?</a>
                  
                </li>
              
                <li class="other-lsa-items">
                  <a href="/lsa/prospective-students/find-yourself-in-lsa.html">
                    Find Yourself in LSA</a>
                  
                </li>
              
                <li class="other-lsa-items">
                  <a href="/lsa/prospective-students/undergraduate/beyond-the-classroom.html">
                    Beyond the Classroom</a>
                  
                </li>
              
                <li class="other-lsa-items">
                  <a href="/lsa/prospective-students/undergraduate/student-resources.html">
                    Student Resources</a>
                  
                </li>
              
                <li class="other-lsa-items">
                  <a href="/lsa/prospective-students/undergraduate/life-on-campus.html">
                    Life on Campus</a>
                  
                </li>
              
                <li class="other-lsa-items">
                  <a href="/lsa/prospective-students/undergraduate/admissions.html">
                    Admissions</a>
                  
                </li>
              </ul> 
            </div>
          </div>
        </div>
    
        <div class="level-two-nav level-two-nav-lsa hidden-xs" id="audMenu-current-students">


          <div class="container">

            <div class="col-sm-5">

              <a href="/lsa/current-students/undergraduate-students/engaged-learning.html" title="Engaged Learning" class="col-sm-6 featuredImage">
                <div class="primaryImage " data-picture="">
                  <div data-src="/content/michigan-lsa/en/current-students/undergraduate-students/engaged-learning/jcr:content/image.transform/reg/image.jpg" data-media="(min-width: 1px)"></div>
                  <img src="/content/lsaperegrine/assets/engaged-learning.jpg">
                </div>
              </a>

              <div class="col-sm-6">
                <a href="/lsa/current-students/undergraduate-students/engaged-learning.html" class="featuredLink">
                  Engaged Learning</a>
                

                <div class="featuredDescription">In the College of LSA, because your education is about more than searching for answers in a textbook, we offer numerous programs that foster hands-on work, innovative thinking, and experiences that challenge and transform.</div>

              </div>
            </div>


            <div class="col-sm-3">
               <ul>
                <li class="highlighted-lsa-items">
                  <a href="/lsa/current-students/undergraduate-students.html">
                    Undergraduate</a>
                  
                </li>
              
                <li class="highlighted-lsa-items">
                  <a href="/lsa/current-students/graduate-students.html">
                    Graduate</a>
                  
                </li>
              
                <li class="highlighted-lsa-items">
                  <a href="/lsa/current-students/transfer-students.html">
                    Transfer</a>
                  
                </li>
              </ul>
            </div>
            <div class="col-sm-4">
              <ul>
                <li class="other-lsa-items">
                  <a href="/lsa/current-students/undergraduate-students/education.html">
                    Education</a>
                  
                </li>
              
                <li class="other-lsa-items">
                  <a href="/lsa/current-students/undergraduate-students/academic-advising.html">
                    Academic Advising</a>
                  
                </li>
              
                <li class="other-lsa-items">
                  <a href="/lsa/current-students/undergraduate-students/college-resources.html">
                    College Resources</a>
                  
                </li>
              
                <li class="other-lsa-items">
                  <a href="/lsa/current-students/undergraduate-students/engaged-learning.html">
                    Engaged Learning</a>
                  
                </li>
              
                <li class="other-lsa-items">
                  <a href="/lsa/current-students/undergraduate-students/outcomes-and-possibilities.html">
                    Outcomes and Possibilities</a>
                  
                </li>
              </ul> 
            </div>
          </div>
        </div>
    
        <div class="level-two-nav level-two-nav-lsa hidden-xs" id="audMenu-alumni-friends">


          <div class="container">

            <div class="col-sm-5">

              <a href="/lsa/alumni-friends/get-connected/college-connections.html" title="College Connections" class="col-sm-6 featuredImage">
                <div class="primaryImage " data-picture="">
                  <div data-src="/content/michigan-lsa/en/alumni-friends/get-connected/college-connections/jcr:content/image.transform/reg/image.jpg" data-media="(min-width: 1px)"></div>
                  <img src="/content/lsaperegrine/assets/college-connections.jpg"></div>
              </a>

              <div class="col-sm-6">
                <a href="/lsa/alumni-friends/get-connected/college-connections.html" class="featuredLink">
                  College Connections</a>
                

                <div class="featuredDescription">College Connections provides a space for alumni and families to share their student experiences with recent LSA graduates and provide feedback on the current and future state of the College. </div>

              </div>
            </div>


            <div class="col-sm-3">
               <ul>
                <li class="highlighted-lsa-items">
                  <a href="/lsa/alumni-friends/get-connected.html">
                    Get Connected</a>
                  
                </li>
              
                <li class="highlighted-lsa-items">
                  <a href="/lsa/alumni-friends/get-involved.html">
                    Get Involved</a>
                  
                </li>
              
                <li class="highlighted-lsa-items">
                  <a href="/lsa/alumni-friends/get-informed.html">
                    Get Informed</a>
                  
                </li>
              </ul>
            </div>
            <div class="col-sm-4">
              <ul>
                <li class="other-lsa-items">
                  <a href="/lsa/alumni-friends/get-connected/college-connections.html">
                    College Connections</a>
                  
                </li>
              </ul> 
            </div>
          </div>
        </div>
    
        <div class="level-two-nav level-two-nav-lsa hidden-xs" id="audMenu-faculty-staff">


          <div class="container">

            <div class="col-sm-5">

              <a href="/lsa/faculty-staff/human-resources/staff-achievement/staff-recognition.html" title="LSA Annual Staff Achievement Awards Program" class="col-sm-6 featuredImage">
                <div class="primaryImage " data-picture="">
                    <div data-src="/content/michigan-lsa/en/faculty-staff/human-resources/staff-achievement/staff-recognition/jcr:content/image.transform/reg/image.jpg" data-media="(min-width: 1px)"></div>
                  <img src="/content/lsaperegrine/assets/staff-recognition.jpg"></div>
              </a>

              <div class="col-sm-6">
                <a href="/lsa/faculty-staff/human-resources/staff-achievement/staff-recognition.html" class="featuredLink">
                  Staff Achievement Awards Program</a>
                

                <div class="featuredDescription">This is an annual opportunity to acknowledge and celebrate exceptional staff contributions to the success of the College . Information regarding eligibility, nomination, selection, notification, and winners can be found here.</div>

              </div>
            </div>


            <div class="col-sm-3">
               <ul>
                <li class="highlighted-lsa-items">
                  <a href="/lsa/faculty-staff/budget-and-finance.html">
                    Budget and Finance</a>
                  
                </li>
              
                <li class="highlighted-lsa-items">
                  <a href="/lsa/faculty-staff/chairs-and-directors.html">
                    Chairs and Directors</a>
                  
                </li>
              
                <li class="highlighted-lsa-items">
                  <a href="/lsa/faculty-staff/facilities---operations.html">
                    Facilities and Operations</a>
                  
                </li>
              
                <li class="highlighted-lsa-items">
                  <a href="/lsa/faculty-staff/academic-affairs.html">
                    Faculty Academic Affairs</a>
                  
                </li>
              
                <li class="highlighted-lsa-items">
                  <a href="/lsa/faculty-staff/graduate-education.html">
                    Graduate Education</a>
                  
                </li>
              
                <li class="highlighted-lsa-items">
                  <a href="/lsa/faculty-staff/human-resources.html">
                    Human Resources</a>
                  
                </li>
              </ul>
            </div>
            <div class="col-sm-4">
              <ul>
                <li class="other-lsa-items">
                  <a href="/lsa/faculty-staff/lsa-advancement.html">
                    LSA Advancement</a>
                  
                </li>
              
                <li class="other-lsa-items">
                  <a href="/lsa/faculty-staff/office-of-the-dean.html">
                    Office of the Dean</a>
                  
                </li>
              
                <li class="other-lsa-items">
                  <a href="/lsa/faculty-staff/security-and-safety.html">
                    Security and Safety</a>
                  
                </li>
              
                <li class="other-lsa-items">
                  <a href="/lsa/faculty-staff/standard-practice-guide.html">
                    Standard Practice Guide</a>
                  
                </li>
              
                <li class="other-lsa-items">
                  <a href="/lsa/faculty-staff/student-academic-affairs.html">
                    Student Academic Affairs</a>
                  
                </li>
              
                <li class="other-lsa-items">
                  <a href="/lsa/faculty-staff/undergraduate-education.html">
                    Undergraduate Education</a>
                  
                </li>
              
                <li class="other-lsa-items">
                  <a href="/lsa/faculty-staff/technology-services.html">
                    Technology Services</a>
                  
                </li>
              </ul> 
            </div>
          </div>
        </div>
    
</div>